.App {
  width: 100vw;
  height: 100vh;

  .map {
    // width: 100vw;
    // height: 100vh;
  }

  .map-mobile {
    display: block;
  }

  .map-web {
    display: none;
  }
}

@media (min-width: 768px) {
  .App {
    .map-web {
      display: block;
    }

    .map-mobile {
      display: none;
    }
  }
}

canvas {
  border-width: 1px;
  border-color: black;
  border: solid;
}
